//= require bootstrap.min
//= require_self
//= require_tree .

#google-map
  width: 1000px
  height: 500px
  border: 1px solid #000
  img
    max-width: none

#content
  padding-top: 20px

.alert-notice
  color: #3A87AD
  background-color: #D9EDF7
  border-color: #BCE8F1

.alert-alert
  color: #B94A48
  background-color: #F2DEDE
  border-color: #EED3D7